/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #09481c;
    color: white;
    padding: 20,20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 6px 10px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
}

.cart {
    width: 60px; /* Adjust the width of the image section */
    display: flex;
}

.cart img {
    display: flex;
    max-width: 60px;
    height: auto;
    margin: 0 1;
}
.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.banner img {
    width: 100%;
    height: auto;
}

.categories, .featured-products {
    padding: 20px;
}

.categories h2, .featured-products h2 {
    margin-bottom: 10px;
}

.category-list, .product-list {
    display: flex;
    justify-content: space-between;
}

.category-item, .product-item {
    text-align: center;
}

.category-item img, .product-item img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #09481c;
    color: white;
    text-align: left;
    padding: 5px;
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
    a img {
        max-width: 40px; /* ปรับให้ภาพมีขนาดเต็มที่เมื่อจำเป็น */
        height: auto; /* ปรับความสูงอัตโนมัติตามความกว้าง */
    }
    
}